
.wp-block-cover-small {
    position: relative;
    @include flex-grid-row($size: 30000px, $gutters:0);
    overflow: hidden;
    text-align: center;
    @include overlay();
    @include flex-align(center, bottom);
    margin-left: auto;
    margin-right: auto;

    &__image-background {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        //@include zoomAni;
    }

    &__content {
        position: relative;
        z-index: 10;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #FFF;
            margin-bottom: 0;
            text-align: left;
        }

        .column {
            @include spacing-y(padding-bottom, '', 2);
        }
    }

    @include breakpoint(small only) {
        @include responsive-property(padding-top, $section-spacing, 2);
    }

    @include breakpoint(medium only) {
        //height: 40vh;
        &__content {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: rem-calc(40);
            }
        }
    }

    @include breakpoint(large down) {
        @include responsive-property(padding-top, $section-spacing);

        &__content {
            .column {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    @include breakpoint(large) {
        min-height: 60vh;
    }

    @include breakpoint(xlarge) {
        height: 70vh;
    }
}